<template name="footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Made with <i class="mdi-action-favorite-outline"></i> by Team Timber</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Members</h5>
          <ul>
            <li><span class="grey-text text-lighten-3">Ben Diuguid</span></li>
            <li><span class="grey-text text-lighten-3">Chris Cordle</span></li>
            <li><span class="grey-text text-lighten-3">Joon Kim</span></li>
            <li><span class="grey-text text-lighten-3">Ted Turner</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 Team Timber
      </div>
    </div>
  </footer>
</template>
