<template name="addVideo">
  <h1>{{name}}</h1>
  <form class="search-youtube">
    <input class="form-control" name="text" type="text" placeholder="Search YouTube">
  </form>
<!-- id.videoId

publishedAt
channelId
title
description

thumbnails.url
thumbnails.height
thumbnails.width -->
<ul class="list-group">
  {{#each results}}
    <li class="list-group-item">
      <div>
        <h4 style="line-height: 34px;">{{snippet.title}}
          <button class="btn btn-default pull-right addVideoClick"><i class="glyphicon glyphicon-plus"></i> Add</button>
        </h4>
      </div>
    </li>
  {{/each}}
</ul>

</template>
