<template name="commentList">
  {{> paper_button_link}}

  <ul class="list-group">
    {{#each comment}}
      <li class="list-group-item">
        <span class="help-block">{{author}}</span> <span>{{content}}</span>
      </li>
    {{/each}}
  </ul>

  <paper-button raised type="button" id="aliasSubmit" class="btn-default">Set Alias</paper-button>
  <input type="text" class="form-control" id="aliasText" placeholder="Alias name..." />
  {{#if alias}}
    <textarea class="form-control" id="commentText"></textarea>
    <paper-button raised type="button" id="sendComment" class="btn-default">Send</paper-button>
  {{/if}}
</template>
