<template name="commentList">
  <ul>
    {{#each ../comment}}
      <li>
        <div class="card small">
          <div class="card-content">
            <span class="card-title">{{author}}</span>
            <p>{{content}}</p>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>

  <button type="button" id="aliasSubmit" class="waves-effect waves-light btn">Set Alias</button>
  <input type="text" id="aliasText" placeholder="Alias name..." />
  {{#if alias}}
    <input class="" id="commentText" />
    <button type="button" id="sendComment" class="waves-effect waves-light btn">Send</button>
  {{/if}}
</template>
